body {
    text-align: center!important;
}


.logo {
    z-index: 1;
    position: absolute;
    top: 1%;
    left: 1%;
    height: 5%;
}

.carousel1 {
    width: 100vw;
    height: 100vh;
}

.item {
    width: 100vw;
    height: 100vh;
}

.image {
    padding-top: 5vh;
    max-width: 80%;
    height: 95vh;
    object-fit: contain;
}

.bg {
    filter: blur(3vh);
    z-index: -1;
    animation-name: fade;
    animation-duration: 1s;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.but {
    cursor: pointer;
    position: absolute;
    top: 45%;
    padding: 2vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 40px;
    border-radius: 100px 0 0 100px;
}

.but3 {
    left: 0;
}

.but2 {
    right: 0;
    border-radius: 0 100px 100px 0;
}

.words {
    font-size: 3vh;
}

.who {
    position: fixed;
  left: 50%;
  bottom:0;
  transform: translate(-50%, 0);
    background-color: #7eba48;
    width: 20vw;
    border-radius: 2vh 2vh 0 0;
}

@keyframes fade {
    from {
        opacity: 0.2
    }
    to {
        opacity: 1
    }