@font-face {
    font-family: Aye;
    src: url(../fonts/Montserrat-Regular.ttf);
}

body {
    font-family: Aye;
    margin:0;
}

.left_menu {
    position: absolute;
    left: 0;
    height: 100%;
    width: 20vw;
}

.date {
    text-align: center;
    background-color: #555555;
    color: #fff;
    height: 65%;
}

#date {
    position: relative;
    top: 25%;
}

#date_day {
    font-size: 13vh;
}

#date_month {
    border-bottom: 2px solid;
    font-size: 5vh;
}

.weather {
    position: absolute;
    height: 35%;
}

.city {
    position: relative;
    left: 2vw;
    font-size: 3vh;
}

.img {
    height: 6vw;
}

.time {
    font-size: 2vh
}

.grad {
    font-size: 3vh;
}

.timer {
    color: #fff;
    z-index: 2;
    font-size: 7vh;
    position: absolute;
    right: 5vw;
    top: 3vw;
}

.bottom_menu {
    position: absolute;
    bottom: 0;
    left: 20vw;
    height: 15vh;
    width: 80%;
    background-color: #555555;
}

.some_words {
    font-size: 2vh;
    color: #d8ffb3;
    left: 0;
    height: 100%;
    width: 60%;
    border-radius: 0 20px 20px 0;
    position: absolute;
    background-color: #7eba48;
}

#some_words {
    margin: 2vh;
}

.logo {
    top: 25%;
    position: absolute;
    right: 5vw;
    height: 10vh;
}

#logo {
    height: 6vh;
}

.menu {
    position: absolute;
    top: 0;
    width: 80%;
    right: 0;
    height: 85%;
    background-image: url("../../static/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button {
    background-color: #7ebb46;
    color: #fff;
    font-size: 3vh;
    text-align: center;
    height: 8vh;
    width: 20vw;
    border: 0;
    border-radius: 10px;
}