.logo {
    top: 2vh;
    left: 1vw;
    position: absolute;
    height: 7vh;
}

body {
    font-family: DejaVu Sans Mono, monospace;
    background-color: #DFE5D9;
    margin:0;
}

header {
    z-index: 2;
    top:0;
    width: 100%;
    height: 12vh;
    background: #fff;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.f_button {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  color: #7CC143;
  box-shadow: 0 0 0 2px #7CC143;
  padding: 20px 0;
  width: 25vw;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}

.timer {
    font-family: DejaVu Sans Mono, monospace;
    font-size: 7vh;
    position: absolute;
    right: 0;
}

.left_menu {
    position: absolute;
    z-index: 1;
    left: 0;
    height: 85%;
    width: 21vw;
    background-color: #fff;
}

.menu {
    box-shadow: -2px -2px 0 0 #7CC143;
    z-index: 10;
    position: absolute;
    right: 0;
    width: 79vw;
    height: 88vh;
}

.date {
    text-align: center;
    background-color: #C2843A;
}

#date {
    font-size: 8vh;
}

.dop_info{
    background-color: #aaa;
    height: 15%;
}

#dop_info {
    font-size: 2vw;
}

.weather {
    background-color: #DFE5D9;
}