body {
    font-family: "montserrat", sans-serif;
    background-color: #DFE5D9;
}

.logo {
    z-index: 1;
    position: absolute;
    top: 1%;
    left: 1%;
    height: 5%;
}

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}


.left {
  left: 0;
  background-image: linear-gradient(#58595B, #58595B);
  background-size: 1% 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.right {
  right: 0;
}

.up_centered {
  position: absolute;
  left: 40%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.f_button {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  color: #7CC143;
  box-shadow: 0 0 0 2px #7CC143;
  padding: 20px 0;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}

.centr_form{
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

.center_form{
text-align: center;
    background-color: #fff;
    width: 100%;
  max-width: 18vw;
  height: 30vh;
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   border-radius: 5vh;
}

.show {

    visibility: visible;
}

.hide {

    visibility: hidden;
}

.submit {
    padding-top: 10px;
    padding-bottom: 20px;
    color: #58595B;
     background: transparent;
     border:0;
}

.lable {
    color: #58595B;
    width: 200px;
    height: 30px;
    margin:10px 0;
    padding:5px;
    border: 0;
    border-bottom:1px solid #58595B;
    border-left:1px solid #58595B;
    background: transparent;
    outline:none;
}

.add_img{
    z-index:10;
    border-radius:50px 0 0 0;
    border: 0;
    position: fixed;
    top: 80%;
    left: 80%;
    background-color: #7CC143;
    width:20%;
    height: 20%;
}

table {
    table-layout: fixed;
   border-collapse: collapse;
   /*убираем пустые промежутки между ячейками*/
   border: 1px solid grey;
   /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
th, td {
   border: 1px solid grey;
}

.dom_img {
    height: 50vh;
    position: absolute;
    bottom:0;
    left:0;
}

.sun_img {
    height: 20vh;
    position: absolute;
    top:3vh;
    right:3vw;
}

.black_fon {
    pointer-events: none;
    top: 0;
    right:0;
    z-index:11;
    position: absolute;
    width: 100vw;
    height:100vh;
    background-color: #000;
    opacity: 0;
}

.add_menu{
    z-index: 12;

}

.button {

    cursor:pointer;
    background-color: #DFE5D9;
    width: 15vw;
     height: 4vh;
     border-radius: 10px;
     border: 1px solid #58595B;
}

.input {
    background-color: #DFE5D9;
    text-align: center;
     outline: none;
    margin-top: 5%;
    border: 1px solid #58595B;
    border-radius: 10px;
     width: 15vw;
     height: 4vh;
}

