<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css"/>
    <title>adminka</title>
</head>
<body>
<div class="black_fon" id="fon"></div>
<div>
    <a href="/"><img class="logo" src="static/img/bytic_logo.png"></a>
</div>
<div style="position:fixed; top:2%; left:90%;">
    <a href="/exit">Выйти из аккаунта</a>
</div>
<div>
    <div class="center_form hide add_menu" id="add">
        <form method="post" enctype="multipart/form-data">
            <input autocomplete="off" type="text" placeholder="Введите имя" name="name" class="input"><br>
            <input accept="image/*" type="file" placeholder="Выберете файл" name="photo" class="input" style=";" id="input_file"><br>
<!--            <label for="input_file">-->
<!--                <span class="button">Выберете картинку</span>-->
<!--            </label>-->
            <button type="submit" onclick="hide()" class="button" style="margin-top: 10%;">Добавить</button><br>
            <button onclick="hide()" type="reset" class="button">Отмена</button>
        </form>
    </div>
    <div class="">
        <button onclick="show()" class="add_img">Добавить картинку</button>
    </div>
    <div class="centr_form" style="top: 10%">
        <table>
            <col width="100">
            <col width="200">
            <col width="100">
            {% for i in range(len) %}
            <tr>
                <td class="asd">
                    {{ names[i][0] }}
                </td>
                <td>
                    <img src="/static/img/rab/{{ photos[i][0] }}" width="200" height="200">
                </td>
                <td class="asd">
                    <a href="/edit?image={{ photos[i][0] }}">Изменить</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script src="static/js/adm_js.js"></script>
</body>
</html>