<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css"/>
    <title>Изменения</title>
</head>
<body>
<div>
    <a href="/"><img class="logo" src="static/img/bytic_logo.png"></a>
</div>
<div class="edit">
    <form method="post" enctype="multipart/form-data">
        <div>
            <img class="img" src="static/img/rab/{{ image }}">
        </div>
        <div>
            <div style="float: left;">
                <div>
                    <label>Имя</label>
                </div>
                <input id="name" class="inp" placeholder="Имя" autocomplete="off" type="text" value="{{ name }}"
                       name="name">
            </div>
            <div style="float: left;">
                <div>
                    <label>Курс</label>
                </div>
                <input class="inp" placeholder="Название курса" autocomplete="off" type="text" value="{{ course }}"
                       name="course">
            </div>
        </div>
        <div>
            <label>Выбрать новое изображение</label>
            <input style="cursor:pointer;" class="inp" accept="image/*" type="file" placeholder="Выберете новый файл"
                   name="photo">
        </div>
        <div>
            <br>
            <br>
            <a class="but" href="/del/{{ image }}">
                Удалить работу
            </a>
            <div style="margin-top: 20px;">
                <button style="" class="but" type="submit"> Сохранить изменения</button>
            </div>
        </div>
        <div style="margin-top: 40px;">
            <a href="/admin">
                <button style="width: 100%;" class="but">Отмена</button>
            </a>
        </div>
    </form>
</div>
</body>
</html>