<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/main.css"/>
    <title>байтик чтотто оооатоавт</title>
</head>
<body>
<header>
    <nav>
        <a href="/"><img class="logo" src="static/img/bytic_logo.png"></a>
        <span class="timer" id="clock">00:00</span>
    </nav>
</header>

<div class="">
    <div class="centered">
        <a href="/gallery" class="f_button">Галерея детских работ</a>
    </div>
</div>

<!--    <div class="split right">-->
<!--        <div class="centered">-->
<!--            <a class="f_button" href="/checklist">Опросник</a>-->
<!--        </div>-->
<!--    </div>-->
<script src="static/js/clock.js"></script>
</body>
</html>
