<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css"/>
    <title>байтик чтотто оооатоавт</title>
</head>
<body>
<div class="body">

    <div class="menu">
        <a href="/"><img class="logo" src="static/img/bytic_logo.png"></a>
    </div>
    <div class="split left">
        <img class="dom_img" src="static/img/house.png">
        <img class="sun_img" src="static/img/sun.png">
        <div class="centered">
            <a href="/gallery" class="f_button">Галерея детских работ</a>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <a class="f_button" href="/checklist">Опросник</a>
        </div>
    </div>

</div>
</body>
</html>