<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/main.css"/>
    <title>байтик чтотто оооатоавт</title>
</head>
<body>
<div>
    <span class="timer" id="clock">00:00</span>
</div>
<div class="bottom_menu">
    <div class="some_words">
        <div id="some_words">
            <span>Не бомби Алексей, если что-то не закрывается, то попробуй поаккуратнее или просто не закрывай</span><br>
            <em style="position: absolute; left: 5%; bottom: 1vh; s">(c) Кто-то</em>
        </div>
    </div>
    <div class="logo">
        <img id="logo" src="static/img/logo.png">
    </div>
</div>
<div class="left_menu">
    <div class="date">
        <div id="date">
            <span id="date_day"></span><br>
            <span id="date_month"></span>
        </div>
    </div>
    <div class="weather">
        <div class="city">
            <span>Троицк, </span><span id="grad"></span>
            <div>
                <span class="des" id="des"></span>
            </div>
            <div>
                <span class="des">Влажность</span>
                <span class="des" id="vlaj"></span>
            </div>
            <div>
                <span class="des">Давление</span>
                <span class="des" id="dav"></span>
            </div>
        </div>
        <div>
            <div>
                <div class="block">
                    <img class="img" id="weather_img_1" src="">
                    <span class="grad" id="grad_1"></span>
                    <span class="time" id="time_1"></span>
                </div>
                <div class="block">
                    <img class="img" id="weather_img_2" src="">
                    <span class="grad" id="grad_2"></span>
                    <span class="time" id="time_2"></span>
                </div>
                <div class="block">
                    <img class="img" id="weather_img_3" src="">
                    <span class="grad" id="grad_3"></span>
                    <span class="time" id="time_3"></span>
                </div>
                <div class="block">
                    <img class="img" id="weather_img_4" src="">
                    <span class="grad" id="grad_4"></span>
                    <span class="time" id="time_4"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="menu">
    <div class="blur"></div>
    <div class="centered">
        <button class="button" onClick='redirect()'>Галерея детских работ</button>
    </div>
</div>
<script src="static/js/clock.js"></script>
<script src="static/js/weather.js"></script>
<script src="static/js/button.js"></script>
</body>
</html>